<div class="flex h-screen w-full flex-col lg:flex-row lg:p-20">
    <div class=" w-full lg:w-1/2 p-10 pt-28 flex justify-center flex-col">
        <h1>title</h1>
        <h2>subtitle</h2>
        <div class="">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas eum culpa esse minima necessitatibus dolore labore quia et eveniet totam consectetur, consequatur sed soluta ab fugiat? Natus voluptatum facilis libero.</p>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptas eum culpa esse minima necessitatibus dolore labore quia et eveniet totam consectetur, consequatur sed soluta ab fugiat? Natus voluptatum facilis libero.</p>
        </div>
    </div>
    <div class="w-full lg:w-1/2 flex justify-center items-center lg:h-auto p-28">
        <img src="../../public/img/hero.jpg" alt="" class="w-4/5 rounded-2xl drop-shadow-2xl lg:w-full lg:h-auto ">
    </div>
</div>
